<h1 class="text-center">Our team</h1>

<ul class="list-inline text-center">
  <% data.team.each do |member, info| %>
    <li>
      <h2><%= member.capitalize %></h2>
      <%= image_tag "#{member}.png", class: "avatar-xl" %>
    </li>
  <% end %>
</ul>
<h3 class="text-center padded"><a href="mailto:contact@airbnb.com"><i class="fa fa-envelope"></i> contact@airbnb.com</a></h3>
